@model IEnumerable<ResultDepartmentDto>

@{
    ViewData["Title"] = "Bölümler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="mb-4 text-primary">
    <i class="fas fa-images me-2"></i>@ViewData["Title"]
</h2>

<table class="table table-bordered table-hover text-center align-middle">
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Bölüm Adı</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentId</td>

                <td>@item.DepartmentName</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="UpdateDepartment" asp-route-id="@item.DepartmentId" class="btn btn-primary">Güncelle</a>
                    <a asp-action="DeleteDepartment" asp-route-id="@item.DepartmentId" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateDepartment" class="btn btn-primary mt-3">Yeni Departman Ekle</a>